body {
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    color: #f0f0f0;
    margin: 0;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 384px;
    width: 512px;
    background-color: #0d0d0d;
}

.head {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 16px;
}

.head-back {
    font-size: 32px;
    text-decoration: none;
    color: #b71c1c;
}

.lbl {
    font-size: 24px;
    color: aliceblue;
}

.img {
    height: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 500;
    height: 270px;
    width: 80%; 
    padding: 4px;
    border-radius: 8px;
    background-color: #b71c1c;
    box-shadow: 0 0 20px #e6e6fa; 
}

.content p {
    text-indent: 2em;
    margin: 0px 0px 8px;
    line-height: 1;
}

.step-title {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 2px;
    text-indent: 0; /* no indent for titles */
}