body {
    background-color: #f0f0f0;
    font-family: 'Poltawski Nowy', serif;
    font-style: italic;
    color: #f0f0f0;
}

.landing-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing-main-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
    width: 480px;
    background-color: #0d0d0d;
}

.landing-header {
    display: flex;
    flex-direction: row;
    height: 128px;
    width: 100%;
}

.header-main {
    display: flex;
    flex-direction: column;
    height: 112px;
    width: 100%;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 16px 8px 16px;
    height: 60%;    
    font-size: 14px;
    background-color: #0d0d0d;
}

.hn-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.hni {
    text-decoration: none;
    color: aliceblue;
}

.hni:hover {
    color: #b71c1c;
}

.header-title {
    display: flex;
    align-items: center;
    height: 40%;
    background-color: #0d0d0d;
}

.ht {
    display: flex;
    align-items: center;
    padding-left: 64px;
    height: 100%;
    width: 65%;
    color: #0d0d0d;
    font-size: 32px;
    font-weight: 600;
    background-color: #b71c1c;
}

.header-logo {
    display: flex;
    background-color: #0d0d0d;
    align-items: center;
    width: 40%;
}

.hl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    background-color: #b71c1c;
}

.hl-img {
    height: 60%;
    width: auto;
    padding-top: 28px;
}





.landing-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.landing-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 55%;
}

.lm-img {
    max-height: 100%;
    max-width: 80%;
    border: solid #b71c1c 4px;
}

.landing-quote {
    display: flex;
    justify-content: center;
    padding-right: 28px;
    margin-left: 28px;
    width: 45%;
    font-size: 16px;
    font-weight: 500;
    /* color: #b71c1c; */
}





.landing-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #b71c1c;
}

.footer-nav {
    display: flex;
    height: 100%;
    width: 100%;
}

.footer-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 40%;
    background-color: #0d0d0d;
}

.lf-btn-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
}

.lf-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-style: normal;
    text-decoration: none;
    color: #b71c1c;
    height: 28px;
}

.lf-btn-con label {
    margin: 0;
    font-size: 12px;
}