body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

.main-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 384px;
    width: 512px;
    background-color: #0d0d0d;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding-top: 0px;
    width: 90%;
}

.head-back {
    font-size: 32px;
    text-decoration: none;
    color: #b71c1c;
}

.img {
    height: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 85%;
}

.output-main-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55%;
    width: 100%;
}

.output-disp {
    height: 100%;
    width: 45%;
    color: aliceblue;
    background-color: #b71c1c;
}

.out-img {
    height: 80%;
    width: 100%;
}

.output-disp label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18%;
    width: 100%;
    font-size: 12px;
}

.output-table-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
    table-layout: fixed;
}

tbody {
    height: 100%;
    width: 100%;
}

tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    width: 100%;
}

th {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 4px);;
    width: 100%;
    background-color: #b71c1c;
}

td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0d0d0d;
    height: calc(100% - 4px);
    width: calc(50% - 4px);
    background-color: #E6E6FA;
}